<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p th:text="'Hello, ' + ${name} + '!'"/>

<table>
    <th:block th:each="p : ${player}">
        <tr>
            <td th:text="${p.id}"></td>
            <td th:text="${p.name}"></td>
            <td th:text="${p.last_name}"></td>
            <td th:text="${p.position}"></td>
            <td th:text="${p.n_shirt}"></td>
        </tr>
    </th:block>
</table>
</body>
</html>